/**
* @name Lexcord
* @author WinterFloof#6673
* @authorId 485412493540458507
* @description Changes Discord's font to Lexend Deca 
* @source https://github.com/WinterFloof/Lexcord
* @version 1.0.0
*/

:root {
    --font-primary: "Lexend Deca", "gg sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
    --font-display: "Lexend Deca", "gg sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

@font-face {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 300;
    src: url("https://cdn.jsdelivr.net/gh/WinterFloof/Lexcord/fonts/Lexend-Light-300.ttf") format("ttf");
}

@font-face {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    src: url("https://cdn.jsdelivr.net/gh/WinterFloof/Lexcord/fonts/Lexend-Regular-400.ttf") format("ttf");
}

@font-face {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 500;
    src: url("https://cdn.jsdelivr.net/gh/WinterFloof/Lexcord/fonts/Lexend-Medium-500.ttf") format("ttf");
}

@font-face {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 600;
    src: url("https://cdn.jsdelivr.net/gh/WinterFloof/Lexcord/fonts/Lexend-SemiBold-600.ttf") format("ttf");
}

@font-face {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 700;
    src: url("https://cdn.jsdelivr.net/gh/WinterFloof/Lexcord/fonts/Lexend-Bold-700.ttf") format("ttf");
}

@font-face {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 800;
    src: url("https://cdn.jsdelivr.net/gh/WinterFloof/Lexcord/fonts/Lexend-ExtraBold-800") format("ttf");
}

@font-face {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 900;
    src: url("https://cdn.jsdelivr.net/gh/WinterFloof/Lexcord/fonts/Lexend-Black-900.ttf") format("ttf");
}
